{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Binance P2P</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    </style>
  </head>
<body style="background-color: black; color: darkgoldenrod">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: darkgoldenrod;" href="{% url 'home' %}">BINANCE P2P</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" ">Srivardhan</li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
      <div id="myTime">
      <span class="navbar-text myTime" style="color: darkgoldenrod">
        Time: {{date}}
      </span>
      </div>
    </div>
  </div>
</nav>

<div class="container text-center unselectable">
<h1></h1>
<p>
  <a class="btn-lg btn btn-warning" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        PnL
  </a>
</p>
<div class="collapse bg-black" id="collapseExample">
  <div class="card bg-black card-body" id="myRef">
  {% if pnl %}
  <table class="table table-dark bg-black table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">PnL</th>
    </tr>
  </thead>
  <tbody>
{% for key, value in pnl.items %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
  {% else %}
      <h2>No data Available</h2>
  {% endif %}
</div>
</div>
</div>


{#<!-------------Scripts-------------!>#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{#<script>#}
{#    $(document).ready(function () {#}
{#        setInterval( function() {#}
{#            $("#myDiv").load(location.href + " #myDiv");#}
{#         }, 1000 );#}
{#        setInterval( function() {#}
{#            $("#myTime").load(location.href + " #myTime");#}
{#         }, 1000 );#}
        {#setInterval( function() {#}
        {#    $("#myRef").load(location.href + " #myRef");#}
        {# }, 5000 );#}
{#    });#}
{#</script>#}
</body>
</html>